<h1>Categories</h1>

<div class = "categories_container">
  <% @categories.each do |category| %>
    <div class =  "category">
      <h2><%= category.name %></h2>
      <%= image_tag "#{category.icon}.png", style: 'height:40px; width:auto;' %>  <%= category.name%>
      <p>$<%= category.total_amount %></p>
      <p><%= "#{category.created_at.day} #{category.created_at.strftime("%b")} #{category.created_at.year}" %></p>
      <ul class = "category_actions">
        <li><%= button_to "View Transaction", category_records_path(category) %></li>
        <li><%= button_to "Remove", category_path(category), data: {
        confirm: "Are you sure you want to delete: #{category.name}?",
      }, method: :delete %></li>
      </ul>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Add New Category", new_category_path %>
</div>